@model Zubair_Zunairah_HW3.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h2>Book Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.Author</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Published Date</dt>
        <dd class="col-sm-10">@Model.PublishedDate</dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre?.GenreName</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Format</dt>
        <dd class="col-sm-10">@Model.BookFormat</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>